<a href="https://colab.research.google.com/github/DoanneSerentas/CPE-009A-OOP/blob/main/demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bool function

In [2]:
print(bool("Hello"))
print(bool(15))

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

Functions can return a boolean

In [9]:
def myfunction():
  return False

In [10]:
if myfunction():
  print("YES!")
else:
  print("NO!")

NO!

In [11]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

>modulo= 10%6=4

>floor div= 10//5=2

>div = 10/3= 3.33

>exponent = 10**2=100

>multi= 10*2=20

#Bitwise operators

In [13]:
a=60
b=13

>& Binary AND

>| Binary OR

>^ Binary NOR

>~ Binary Complement

><< Binary shift to left

> (>>) Binary shift to right

In [16]:
print(a&b)
print(a|b)
print(a^b)

12
61
49

#Python Assignment operators

In [21]:
x=1
x+=3 #Same As x=x+3
x-=3 #Same AS x=x-3
x*=3
x/=3
x%=3 #Same As x=x%3

print(x)

1.0

#Logical Operators

In [25]:
y=60
z=13
print(y>z)
print(z>y)
print(y>z and z>y)
print(NOT(y>z and z<y))

True
False
False

NameError: name 'NOT' is not defined

#Identity Operator

>is

#Looping Statement
> for loop

>

In [31]:
week=["Sunday","Mon","Tues","Wed","Thurs","Fri","Sat"]
for x in week:
  print(x)
  if x=="Thurs":
    break
  print(x)

Sunday
Sunday
Mon
Mon
Tues
Tues
Wed
Wed
Thurs

#Looping through string

In [32]:
for x in "week":
  print(x)

SyntaxError: incomplete input (<ipython-input-32-200adf6d1bcb>, line 1)

#The range() Function

In [34]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [35]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#While Loop

In [ ]:
i=6
while i<6:
  print(i)
  i+=1

#Break statement

In [36]:
i=6
while i<6:
  print(i)
  if i==3:
    break
  i+=1

SyntaxError: incomplete input (<ipython-input-36-b5c86d829d22>, line 4)

#Continue statement

#Else statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
  else:
    print("i is no longer less than 6")